header {
background-color: #0363a3;
color: #000000;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}

main {
background-color: #7f27f1;
color: #000000;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}

img {
display: block;    
width: 800px;
margin: 0 auto;
border: 4px solid #000000;
height: 800;
}